<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index_style.css') }}">

</head>
<body>

    <center>
        <h3>Register Here</h3>

        <form method="post">

            <div class="container">
                <label for="uEmail"><b>User's Email</b></label>
                <input type="text" placeholder="Enter Email" name="uEmail" required>

                <label for="pURL"><b>Product's URL</b></label>
                <input type="text" placeholder="Enter Product's URL" name="pURL" required>

                <button type="submit">submit</button>
            </div>
        </form>
    </center>

</body>
</html>